/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}
 
html, body { height: 100%; }

body { font: 16px Helvetica, Arial; }

main { 
	display: flex;
	height: 100%;
	flex-direction: row;
}
.form-container, .messages { padding: 20px; }
.form-container { 
	flex: 1;
	// border: 6px solid #bfcfd6;
	background-color: #e5e4e3;

	label { display: block; margin-bottom: 0.5rem; text-transform: uppercase; letter-spacing: 0.08em;}
}

.messages { 
	flex: 2;
	background-color: #eee;
	border: 6px solid #e2e0e0; 
}

input, textarea { 
	display: block; 
	width: 100%;
	border: 2px solid #d6d5d4;
	//border-color: #bfcfd6; 
	// border-radius: 4px; 
	font-size: 0.8rem; 
	padding: 0.4rem; 
	border-style: solid;
}

textarea { height: 135px; }



form {
	//background: #000;
	padding: 3px;
	margin: 12px auto;

	input[type=submit] { 
		width: auto; 
		padding: 10px; 
		background-color:#3a3a3a;
		margin-top: 1rem; 
		border-radius: 8px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
	}
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}

// imports

@import 'modules/_message';
@import 'modules/_defaultMode';
@import 'modules/_nightMode';
@import 'modules/_rustMode';
@import 'modules/_greenMode';

//main stuff i added 
#circleBlack {
    font-size: 2.5em;
    margin-top: 60%;
    color: black
}

#circleWhite {
    font-size: 2.5em;
    margin-top: 60%;
    color: white
}

#circleRust {
    font-size: 2.5em;
    margin-top: 60%;
    color: #C97253
}

#circleGreen {
    font-size: 2.5em;
    margin-top: 60%;
    color: #3d4e49
}
