.new-message { 
    span { font-size: 1em; 
        display: block; 
        margin-bottom: 2px; 
        // text-shadow: 1px 1px black;
        float: right;
        border: none;
    }

    width: 45%;
    padding: 8px 12px;
    background-color: #D3D3D3; 
    border-radius: 8px;
    margin-bottom: 1rem;

    float:left;
    clear: both;
    
}

.my-message {
    float: right !important;
    background-color: #007AFF;
    color: white;
}