.sunsetMode{
form {
	input[type=submit] { 
        background-color:#fff7ef;
        color: #3a3a3a;
        float: right;
        border: none;
	}
}

.form-container { 
	// border: 6px solid #252829;
    // background: linear-gradient(to top, #ff9966 0%, #ff99cc 100%);
    background-image: url("../images/water.jpg");
    background-color: #f1d9db;
    background-repeat: no-repeat;
    background-size: 100%;

	label { display: block; margin-bottom: 0.5rem; }
}

.messages { 
	flex: 2;
	background-color: #fff7ef;
	// border: 6px solid #000000; 
}

input, textarea { 
	border: 2px solid #FFFFFF;
	//border-color: #bfcfd6; 
}

#messages {
	li:nth-child(odd) { background: rgb(110, 110, 110); }
}

#nickname, #textarea {
    background-color: #FFFFFF;
}

#nickname::placeholder{
    color: #3a3a3a;
}

label {
    color: white;
}

.new-message { 
	span { 
		display: block; 
		margin-bottom: 2px; 	
	}
	background-color: #8c8c8c; 
	color: white;

}

.my-message {
    background: linear-gradient(to top, #ff9966 0%, #ff99cc 100%);
    color: white;
}
}

